@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100vh;
  background: linear-gradient(#260c29 40%, #47204d, #5d2f63);
  }

.center{
  text-align: center;
  height: 195px;
}

p{
  color: #f6e3e7;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

h1{
  color: #FFF0F5;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h2{
  text-align: center;
  font-size: 23px;
  font-family: 'Poppins', sans-serif;
}

#container {
  width: 700px;  
  text-align: center;
  margin: 0;
  padding: 0;
}

.box {
    position: absolute;
    transform: translate(-50%, -50%);
    background: #f6e3e7;
    border-radius: 10px;
    padding: 6px;
    width: min-content;
    align-items: center;
    width: 280px; 
    height: 265px;
    text-align: center;
}

#barbie 
{ 
  background-color: #c61b67;
  top: 75%;
  left: 20%; 
}
#barbie h2{
 color: #fd8abe;
}
#barbie  img {
  width: 320px;
  position: absolute;    
  top: -180px;
  left: -20px;
}

#math
{ 
  background-color: #7d9efd; 
  top: 75%;
  left: 50%; 
}
#math h2{
  color: #463faa;
}
#math  img {
  width: 270px;
  position: absolute;    
  top: -140px;
  left: 13px;
}

#cine 
{ 
  background-color: #d04038; 
  top: 75%;
  left: 80%;
}
#cine h2{
  color: #8b1209;
}
#cine img{
  width: 365px;
  position: absolute;    
  top: -190px;
  left: -33px;
}


/* botões */
.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.btn{
  position: relative;
  display: block;
  color: #f6e3e7;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid #f6e3e7;
  padding: 14px 40px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
  border-radius: 30px;
  top: -20px;
}
.btn::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}


/*botao barbie*/
.btn1:hover::before{
  height: 380%;
}
.btn1::before{
  background: #f06ca7;
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.btn1:hover::before{
  height: 380%;
}


/*botao math*/
.btn2:hover::before{
  height: 380%;
}

.btn2::before{
  background: #463faa;
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.btn2:hover::before{
  height: 380%;
}


/*botao cine*/
.btn3:hover::before{
  height: 380%;
}

.btn3::before{
  background: #8b1209;
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.btn3:hover::before{
  height: 380%;
}
